<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $.ajax({
            "async": true,
            "crossDomain": true,
            type: "GET",
            url: "Please have API URL here",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccess,
            failure: function (response) {
                alert(response.d);
            },
            error: function (response) {
                alert(response.d);
            }
        });
        function OnSuccess(response) {
            if (response === 0) {
                alert('Record not found');
            }

            $.fn.dataTable.ext.errMode = 'throw';
            $("#PPTG").DataTable({
                bLengthChange: true,
                lengthMenu: [[5, 10, -1], [5, 10, "All"]],
                bFilter: true,
                bSort: true,
                bPaginate: true,
                data: response,
                "columns": [{ "data": "POLICY_NO" },
                            { "data": "POLICY_NO_HNAME" },
                            { "data": "AGE" },
                            { "data": "DOB" },
                            { "data": "REGISTRATION_NO" }],

            });
        };
    });
</script>
<body>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="PPTG" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Policy No.</th>
                                    <th>Policy Holder Name</th>
                                    <th>Age</th>
                                    <th>CNIC</th>
                                    <th>DOB</th>
                                    <th>Registration Number</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
